.botao {
  text-align: center;
  margin-top: 20px;
}

span {
  color: red; 
}
#receber {
  width: 17px;
  height: 17px;
  border: 2px solid #ccc;
  border-radius: 7px; 
  outline: none;
  vertical-align: middle;

}

.container-campos {
  display: grid;
  grid-template-columns: 2fr 2fr; 
  gap: 10px; 
}

.container-campos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.logo_trans img {
  position: fixed;
  top: 0px;
  left: 10px;
  height: 120px;
  max-width: 280px;
  
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 470px;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
 
}

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
  margin-top: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch + span { /* Estilizando o texto ao lado do switch */
  margin-left: 15px; /* Espaçamento entre o switch e o texto */
  vertical-align: -webkit-baseline-middle; /* Centraliza verticalmente o texto */
}

.switch-container {
  display: flex;
  align-items: center; 
 
}

.switch-label {
  margin-left: 45px; /* Adiciona espaçamento à direita */
  margin-top: 10px;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.esqueci-senha { 
  color: blue;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.botao {
  text-align: center;
}

.logo_trans img {
position: fixed;
top: 0px;
left: 10px;
height: 120px;
max-width: 280px;

}



